header {
    background-color: #ffdddd;
}
#wrapper {
	overflow: hidden;
}
#main {
	float: left;
	width:60%;
	height: 130px;
	background-color: #ddffdd;
}
aside {
    float: right;
    width: 30%;
    height:130px;
    background-color: #ffddff;
}
footer {
    height:50px;
    background-color: #ddddff;
}
.clearfix::after {
    content: 'ここに　.clearfix::after　が入っている';
    display: block;
    clear: both;
}